@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0.5vw;
}
  
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: #ED78C4;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #D196FF;
}

@font-face {
    font-family: 'Helvetica-Rounded';
    src: url('./assets/Helvetica-Rounded.otf');
}